.cssinline {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.Adisabled {
   pointer-events: none;
   cursor: default;
}
.pointer {cursor: pointer;}
.shipTypeDetailArea-scroll{
  height: 290px;
  overflow-x:hidden;
  overflow-y: scroll;
}
#shipTypeDetailAreaScroll{
	padding-left: 10px;
}
.selected {
    background-color: rgba(64, 145, 215, 0.35) !important;

}
.routhing-scroll{
  height: 160px;
  overflow-x:hidden;
  overflow-y: scroll;
}
.t30row {
	padding-left: 10px;
    padding-right: 10px;
}

.t31row{
   padding-right: 10px;
}

.t32row{
    padding-right: 10px;
}

.row-Container{

	margin-left: 0px;
	padding-left: 10px;
}

.row-Commodity{

	margin-left: 0px;
	padding-left: 10px;
}

.ContainerDetails-scroll{
  height: 110px;
  overflow-x:hidden;
  overflow-y: scroll;
}

.CommodityDetails-scroll{
  height: 110px;
  overflow-x:hidden;
  overflow-y: scroll;
}

.PrintClausesArea-scroll{
  height: 110px;
  overflow-x:hidden;
  overflow-y: scroll;
}

.row-routhing{
	height: 50px;
    margin-top: 20px;
}
.routhing-changes{
	margin-left: 10px;
	padding-right: 50px;
}
.BG_updateFiled{
	background-color : rgba(235, 77, 207, 0.4) !important;
}
.Newrate {
    background-color: rgba(234, 123, 159, 0.45) !important;

}
.ChargCaseP {
    background-color: #C7FCD6 !important;

}
.ChargCaseB {
    background-color: #FDF7CB !important;

}
.FormBtnClrHelp{
				border:none !important;
				background-color: transparent !important;
				font-size: 14px !important;
				font-weight: bold !important
			}
.FormBtnClrHelp-notactive{
	color: #E8E8E8 !important;
}
.FormBtnClrHelp-active{
	color: black !important;
}
.colorT{
	color: transparent;
}
